
h1{
    text-align: center; 
    margin:0px;
    font-family: 'Trebuchet MS'; 
    font-size: 400%;   
}

.title{
    position: fixed;
    left: 0;
    top: 0;
    background-color: #ededed;
    width: 100%;
    box-shadow: 0px 1px 10px #333;
}

@media only screen and (max-width: 600px){
    h1{
        font-size: 250%;
    }
}
table {
    border-collapse: collapse;
    text-align: left;
    vertical-align: top;
}
th, td {
    padding: 10px;
    vertical-align: top;
    text-align: left;
}
a:link, a:visited {
    color: black;
    vertical-align: middle;
    text-decoration: none;
    display: inline-block;
}
a:hover{
    color: gray;
}
body{
    max-width: 21cm;
    margin: 0 auto;
    font-family: 'Trebuchet MS';
    background-color: #ededed;
}
p{
    font-size: 120%;
}
.box{
  display: flex;
  flex-wrap: wrap;
  max-width: 19cm;
  margin: auto;
  justify-content: center;
  padding-bottom: 10px;
}
.item{
  padding: 5px;
  width: fit-content;
}
.text {
    max-width: 580px; 
    margin: auto; 
    padding: 5px 30px
}
