
h1{
    text-align: center; 
    margin:0px;
    font-family: 'Trebuchet MS'; 
    font-size: 9vw
}
table {
    border-collapse: collapse;
    text-align: left;
    vertical-align: top;
}
th, td {
    padding: 10px;
    vertical-align: top;
    text-align: left;
}
a:link, a:visited {
    color: black;
    vertical-align: middle;
    text-decoration: none;
    display: inline-block;
}
a:hover{
    color: gray;
}
body{
    max-width: 21cm;
    margin: 0 auto;
    font-family: 'Trebuchet MS';
    background-color: #ededed;
}
p{
    font-size: 120%;
}
.box{
  display: flex;
  flex-wrap: wrap;
  max-width: 19cm;
  margin: auto;
  justify-content: center;
}
.item{
  padding: 5px;
  width: fit-content;
}
