h1 {
  text-align: center;
  margin: 0px;
  font-family: 'Trebuchet MS';
  font-size: 400%;
}

.title {
  position: fixed;
  left: 0;
  top: 0;
  background-color: #ededed;
  width: 100%;
  box-shadow: 0px 1px 10px #333;
  z-index: 2;
}

table {
  border-collapse: collapse;
  text-align: left;
  vertical-align: top;
}

th,
td {
  padding: 10px;
  vertical-align: top;
  text-align: left;
}

a:link,
a:visited {
  color: black;
  vertical-align: middle;
  text-decoration: none;
  display: inline-block;
}

a:hover {
  color: gray;
}

body {
  max-width: 21cm;
  margin: 0 auto;
  font-family: 'Trebuchet MS';
  background-color: #ededed;
}

p {
  font-size: 120%;
}

.box {
  display: flex;
  flex-wrap: wrap;
  max-width: 19cm;
  margin: auto;
  justify-content: center;
  padding-bottom: 10px;
}

.item {
  padding: 5px;
  width: fit-content;
}

.text {
  max-width: 580px;
  margin: auto;
  padding: 5px 30px
}

.box2 {
  display: flex;
  flex-wrap: wrap;
  max-width: 19cm;
  margin: auto;
  column-gap: 5px;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #e0e0e0;
  border-radius: 10px;
  border: 10px solid #e0e0e0;
  box-shadow: 0px 0px 5px #999;
}

.box3 {
  display: flex;
  flex-wrap: wrap;
  width: 70px;
  margin: auto;
  justify-content: center;
  align-items: flex-start;
  padding-bottom: 20px;
  row-gap: 10px;
  column-gap: 10px;
}

.p {
  font-size: 90;
  text-align: left;
  width: 330px
}

.ac {
  width: 150px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #555;
}

video ,iframe{
  z-index: 1;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #555;
}

video:hover ,iframe:hover{
  z-index: 1;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #000;
  width: 100%;
}

.press {
  border: 1px solid #999;
  box-shadow: 0px 0px 10px #999;
  border-radius: 10px;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 250%;
  }

  .ac {
    width: 75%;
  }

  .box2 {
    justify-content: center;
    row-gap: 15px;
  }

  .box3 {
    width: 100%;
    padding-bottom: 0px;
    column-gap: 45px;
  }

  .item {
    font-size: 100%;
    ;
  }
}